.table {
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  margin: auto;
}

.button {
  background-color: gray; /* Green */
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 40px;
  border-radius: 4px;
}
